<% include head %>
<div style="max-width:600px; margin:0 auto;">
  <h1 class="text-center">请修改你的信息!!</h1>
  <form class="" action="/update" method="post">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <input readonly="true" type="text" class="form-control" placeholder="id" aria-describedby="basic-addon1" name="id" value=<%= doc[0].id %> >
    </div><br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;&nbsp;Name&nbsp;&nbsp;&nbsp;</span>
      <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1" name="name" value=<%= doc[0].name %> >
    </div><br>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Password</span>
    <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" name="password" value=<%= doc[0].password %>>
  </div>
  <br>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;&nbsp;&nbsp;Email&nbsp;&nbsp;</span>
    <input type="email" class="form-control" placeholder="Enter your email address" aria-describedby="basic-addon2" name="email" list="email-lists" value=<%= doc[0].email %>>
    <datalist id="email-lists">
      <option>xxx@123.com</option>
      <option>xxx@456.com</option>
      <option>xxx@789.com</option>
    </datalist>
  </div><br>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;&nbsp;&nbsp;City&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <input type="text" class="form-control" placeholder="City" aria-describedby="basic-addon1" name="city" value=<%= doc[0].city %>>
  </div><br>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QQ&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <input type="text" class="form-control" placeholder="QQ" aria-describedby="basic-addon1" name="qq" value=<%= doc[0].qq %>>
  </div><br>

  <button type="submit" style="display:block;margin:0 auto;width:100%; height:35px;">修改</button>

  </form>
</div>

<% include footer %>
